.menu-bar {
    background-color: rgb(206, 205, 195);
    border-radius: 7px;
    display: flex;
}

.menu-list {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    display: flex; /* Display items in a row */
}

.menu-item {
    padding: 10px 20px;
    margin: 5px 5px;
    background-color: rgb(255, 252, 240);
    color: rgb(64, 62, 60);
    font-family: "Georgia", serif;
    font-size: 1.2em;
    border-radius: 7px;
}

.menu-item:hover {
    background-color: rgb(67, 133, 190);
    color: rgb(255, 252, 240);
}
